.main-container{
    width: 60%;
    height: max-content;
    background-color: rgba(245, 245, 220, 0.555);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}


.top-container{
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.bottom-container{
    width: 100%;
    height : 80%;
 
}

.input-container{
    width: 80%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-container{
    width:20%;
    height:100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

input {
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    outline: none;
    
  
}

.btn-add{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(141, 141, 245);
    color:azure;
    font-weight: bold;

}

.btn-add:hover{
    background-color: rgba(141, 141, 245, 0.575);

}

.delete-all{
    background-color: rgba(243, 63, 63, 0.89)
}